@import '../../styles/media-queries.css';

.videoWrapper {
	position:relative;
	padding-bottom:56.25%;
	height:0;
  overflow:hidden;
  /* & iframe {

  } */

}

.border {
  /* padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0rem 1rem 0px rgba(0,0,0,0.12); */
  border: 2px solid black;
}

/*
.video {
  margin: auto 0;
}
 */

.videoWrapper iframe, .video-container object, .video-container embed {
  position: absolute;
  border: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
