@import '../../styles/media-queries.css';

.videoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media(--media-max-small) {
    margin: 0.325em 0;
  }
}

.video {
  margin: auto 0;
}
