@import '../../styles/media-queries.css';

.Overlay {

}

.zoomedImage {
  width: 47rem;
  margin: 0.325em auto;

  @media (--media-max-medium) {
    max-width: 90vw;
  }
}

.wrapper {
   position: relaitive;
   height: 100%;
   display: flex;
   justify-content: center;
}

.hoverEffect {
    animation: fadeIn 0.25s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
