@import './vars.css';
 /* @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap'); */

html {
  font-family: 'Helvetica', serif;
  font-size: var(--font-base-size);
  font-display: auto;
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html, body, body > div, body > div > div {
  height: 100%;
}
