@import './media-queries.css';

:root {
  --color-black: #222;
  --color-white: #fff;
  --color-accent: #dedede;
  --header-padding: 0.325em;
  --page-margin: 0.625em;
  --page-margin-mobile: 0.325em;

  @media(--media-max-medium){
    --page-margin: 0.625em;
  }
}
