@import '../../styles/vars.css';
@import '../../styles/media-queries.css';

.button {
  font-family: inherit;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  padding: 0.325em .425rem 0.355em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;

  @media (--media-min-medium){
    padding: 1px .425rem 1px;
  }
}

.large.button {
  font-size: 1rem;
  padding: 0.625em .825rem 0.625em;
}

.border {
  border: 2px solid black;
}

@media (hover: hover) {
  .button:hover {
    /* color: var(--color-white);
    background-color: var(--color-black); */
    outline: 2px solid black;
    cursor: pointer;
    background-color: var(--color-accent);
  }
}

.btnActive {
  /* background-color: var(--color-black);
  color: var(--color-white); */
  background-color: var(--color-accent);
  outline: 2px solid black;
}
