.button {
  font-family: inherit;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  border-radius: 5px;
  padding: 0.125rem 0.325rem;
  margin: 0.325rem 0.325rem;
  float: right;
  text-decoration: none;
}

.button:hover {
  color: #db7070;
  transition: 0.25s;
  cursor: pointer;
}

.btnActive {
  background-color: black; /* Green */
  color: white;
}
