@import '../../styles/vars.css';
@import '../../styles/media-queries.css';

.button {
  font-family: inherit;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid black;
  padding: 0.425em 0.425rem;
  text-decoration: none;
  margin: 0 0;
  text-transform: uppercase;
  text-align: left;

  @media (--media-min-medium){
    padding: 0.125em 0.425rem;
  }
}

.border {
  border: 2px solid black;
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    background-color: var(--color-accent);
  }
}

.btnActive {
  background-color: var(--color-accent);
  outline: 2px solid black;
}
