@import '../../styles/vars.css';
@import '../../styles/media-queries.css';

.button {
  font-family: inherit;
  background-color: var(--color-accent);
  color: var(--color-black);
  border: 2px solid black;
  padding: 0.425em 0.425rem;
  margin-top: 1rem;
  text-decoration: none;
  margin: 0 0;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.border {
  border: 2px solid black;
}

@media (hover: hover) {
  .button:hover {
    cursor: pointer;
    font-style: italic;
    background-color: var(--color-accent);
  }
}

.btnActive {
  background-color: var(--color-accent);
  outline: 2px solid black;
}
