@import '../../styles/media-queries.css';
@import '../../styles/vars.css';

.ColorPallet {
  flex-wrap: wrap;
  display: flex;
  /* row-gap: 2px; */
  /* grid-template-columns: repeat(auto-fill, 35px); */
}

.Color {
  height: 35px;
  width: 35px;
  border: 0;
  outline: 2px solid var(--color-black);
  padding: 0;
  margin: 0 0px 2px 0;

  /* outline:  */
  cursor: none;
}

.active {
  outline: 3px solid var(--color-black);
  z-index: 2;
}