@import '../styles/media-queries.css';
@import '../styles/vars.css';

.wrapper {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
}

.filterWrapper {
  position: fixed;
  right: 0.755rem;
  z-index: 10;
  /* width: 100%;
  height: 100%; */

  /* padding-top: 0.125em; */
  @media (--media-min-medium) {
    outline: 2px solid black;
    display: flex;
    background-color: white;
    width: auto;
    height: auto;
    padding: 1px 0;
  }
}

.cart {
  padding: 0.4em 0.3em;
  font-size: 0.7em;
  margin: 0;
  background-color: var(--color-white);
  outline: 2px solid black;
  @media (--media-min-medium) {
    margin: 0.25em 0.225em 0.25em 0.325em;
    padding: 0;
    outline: 0;
  }
}

.cart > svg {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 0.9rem;
}

.filterLabel {
  font-size: 0.7rem;
  margin-right: 5px;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    right: -20rem;
  }
  100% {
    right: 0.755rem;
  }
}

.title {
  padding-right: 1em;
  margin: auto 0;
  flex: 1;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

.closeBtn {
  color: var(--color-black);
  width: 0.525em;
  margin: auto;
}

.iconWrapper {
  position: fixed;
  right: 0em;
  display: flex;
  margin: 0.09em 0.745em 0;
  z-index: 10;
  padding: 5px 12px;
  outline: 2px solid black;
  border: none;
  background-color: white;
  line-height: inherit;
  font-size: inherit;
  cursor: pointer;

  @media (--media-min-medium) {
    position: relative;
    display: flex;
    margin: 0.15em 0.225em;
    padding: 0.085em 0.125em;
    outline: none;
  }
}

@media (hover: hover) {
  .iconWrapper:hover {
    background-color: var(--color-accent);
    outline: 2px solid black;
  }
}

.categoryWrapper {
  display: flex;
  position: fixed;
  align-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
  right: 0;
  margin: 1.71em 0.745em 0;
  outline: 2px solid black;
  background-color: white;
  z-index: 10;
  max-width: 123px;
  line-height: 1;

  @nest & > button {
    border-bottom: 2px solid black;
  }

  @nest & > button:last-child {
    border-bottom: none;
  }

  @media (--media-min-medium) {
    position: relative;
    outline: none;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto 0.125em auto 0;
    max-width: unset;

    & > button {
      border: none;
    }
  }
}

.categoryButton {
  margin: 0;
  text-align: left;

  @media (--media-min-medium) {
    margin-left: 0.2rem;
    margin-right: 0.1rem;
  }
}

.controls {
  display: flex;
  line-height: 0;
}

.gridIcon {
  position: relative;
  display: flex;
  right: 0;
  background-color: #fff;
  outline: 2px solid #000;
  margin-right: 2px;
  height: 20px;
  z-index: 10;
  padding: 0.155em 0.2em 0.155em 0.2em;
  cursor: pointer;
  @media (--media-min-small) {
    display: none;
  }
}

.gridIcon svg {
  padding: 0.1rem 0.2rem;
}

.hide {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateX(30vw);
  }
  to {
    transform: translateX(0);
  }
}
