@import '../../styles/media-queries.css';

.masonryLayout {
  display: flex;
  margin: 0.325rem 0 0.625rem;
  @media (--media-max-small) {
    display: block;
  }
}

.column {
  @media (--media-max-small) {
    @nest &:last-child {
      margin-left: 0 !important;
    }
  }
}

.isGrid {
  display: flex;
}