@import '../../styles/media-queries.css';
@import '../../styles/vars.css';

.title {
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(var(--font-base-size) - 4px);
  margin: 0.2rem 0.2rem 0 0.2rem;

  @media (--media-min-small) {
    margin: 0 0 0 0;
  }

  @media (--media-min-medium) {
    font-size: var(--font-base-size);
  }

  @nest .gridLayout & {
    margin-left: 0;
    margin-right: auto;
    padding-right: 0.3rem;
  }
}

.inner {
  position: relative;
  height: 0;
  padding-top: 100%;
  border-bottom: 2px solid black;
}

.itemWrapper:hover .Image:last-child {
  z-index: -1;
}

.titleWrapper {
  padding: 0 0 0 0.325rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  @nest .gridLayout & {
    
    flex-direction: column;
    @media (--media-min-small) {
      flex-direction: row;
    }
  }
}


.price {
  align-self: center;
  padding: 0.425em;
  text-align: center;
  position: relative;
  @media (--media-min-small) {
    margin: 0;
    padding: 0.425em;
  }

  @nest &:after {
    content: '';
    position: absolute;
    border-left: 2px solid black;
    width: 2px;
    height: 130%;
    left: 0;
    top: -5px;
  }

  @nest .gridLayout & {
    padding: 0.425em 0;
    margin-left: 0;
    margin-right: auto;
    @nest &:after {
      display: none;
    }

    @media (--media-min-small) {
      padding: 0.425em;

      @nest &:after {
        display: block;
      }
    }
  }
}

.itemWrapper {
  display: block;
  border: 2px solid black;
  /* animation: slideIn 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
  @nest & > * {
    color: var(--color-black);
  }

  @nest &:hover .titleWrapper {
    background-color: var(--color-accent);
  }
}

.itemWrapper:hover .title {
  /* text-decoration: underline; */
}



.Image {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

@keyframes slideIn {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0px);
  }
}
