@import '../../styles/media-queries.css';
@import '../../styles/vars.css';

.title {
  text-decoration: none;
  text-transform: uppercase;
}

.inner {
  border-bottom: 2px solid black;
}

.titleWrapper {
  padding: 0 0 0 0.325rem;
  display: flex;
  justify-content: space-between;
}

.price {
  align-self: center;
  padding: 0.425em;
  min-width: 1.725em;
  text-align: center;
  border-left: 2px solid black;
}

.itemWrapper {
  display: block;
  border: 2px solid black;
  /* animation: slideIn 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
  @nest & > * {
    color: var(--color-black);
  }

  @nest &:hover .titleWrapper {
    background-color: var(--color-accent)
  }
}

.itemWrapper:hover .title {
  /* text-decoration: underline; */
}

@keyframes slideIn {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0px);
  }
}
