@import '../../styles/media-queries.css';

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 0.625em;
  margin: 0.625em auto;
}

.gridWrapper {
  position: relative;
  cursor: pointer;
  max-width: 300px;
  @nest &:hover {
    transform: scale(1.05);
  }
}

.clickHandler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (--media-min-small) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (--media-min-large) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 100px));
  }
}

/* repeat(auto-fill, minmax(70px, 1fr)); */
