@import '../../styles/vars.css';

.wrapper {
  display: flex;
  position: relative;
  margin: 0.225em 0.325em 0.225em 0 ;
  color: var(--color-black);
}

@media (hover: hover) {
  .wrapper:hover {
    background-color: var(--color-accent);
    outline: 2px solid black;
  }
}

.itemCount {
  position: absolute;
  display: flex;
  background-color: var(--color-accent);
  bottom: -0.3em;
  right: -0.3em;
  border-radius: 50%;
  font-size: 0.6em;
}

