@import '../styles/media-queries.css';
@import '../styles/vars.css';

.header {
  border: 2px solid var(--color-black);
  margin: 0.625em 0 0.325em;
}

.headline {
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 400;
  letter-spacing: 1.1px;
  @nest & a {
    color: inherit;
    text-decoration: none;
  }

  @media (--media-min-small) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  /* @media (--media-min-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  } */
}

.instagramWrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  gap: 10px;

  @media (--media-min-small) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  @media (--media-min-medium) {
    grid-template-columns: repeat(4, minmax(150px, 1fr));
  }
}

.aboutContent {
  display: block;
  margin: 0.625em 0;
}

.pageImage {
  border: 2px solid var(--color-black);
  margin-bottom: 0.625em;
  display: flex;
}

.about {
  border: 2px solid var(--color-black);
  padding: 2rem;
  display: flex;
}

.image {
  margin: auto;
  width: 100%;
}

.content {
  margin: auto;
}

@media (--media-min-medium) {
  .about {
    padding: 5rem;
  }
}

@media (--media-min-large) {
  .aboutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
  }

  .about {
    padding: 5rem;
  }

  .pageImage {
    margin-bottom: 0em;
  }
}
