@import '../styles/media-queries.css';

.root {
  box-sizing: border-box;
  /* Compensate header padding */
  padding: 0 calc(0.625em + var(--header-padding));
  margin: 0 auto 0.625em auto;

  @media (--media-max-small) {

  }
}
