@import '../styles/media-queries.css';
@import '../styles/vars.css';
.wrapper {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  text-transform: none;
  margin: auto;

  @nest &, & > * {
    background-color: transparent !important;
    border: none !important;
    font-style: normal !important;
  }

  @nest & > div:hover {
    background-color: transparent !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-gap: 1em;

  @media (--media-max-small) {
    display: block !important;
  }
}


.title {
  font-size: 5rem;
  margin: auto;
  padding: 0.325em 0.325em;
}

.wrapper:hover {
  background-color: transparent !important;
}

.limitWidth {
  @media (--media-min-small) {
    width: 90%;
  }
}

.iconGrid{
  display: grid;
  flex-direction: column;
  z-index: 200;
  color: white;
  flex-wrap: wrap;
  border: none !important;
}

.iconGrid:hover {
  background-color: transparent !important;
  font-style: normal !important;
}

.icon {
  padding: 0.125em 1.325em 1em 0.325em !important;
  border: none;
  display: flex;
  border: none;
  margin: auto 0;
  letter-spacing: 2.5px;


  @nest & > * {
    border-left: none !important;
  }

  @nest & > svg {
    margin: auto 0;
  }

  @nest & > span {
    margin: auto 0 0 0.625em;
    font-size: 1.5em;
  }
}

.icon:hover {
  color: var(--color-accent);
  transition: 0.2s ease-in-out;
  @nest & > * {
    background-color: transparent !important;
  }
}
