@import '../styles/media-queries.css';

.root {
  box-sizing: border-box;
  /* Compensate header padding */
  /* padding: 0 calc(0.625em + var(--header-padding)); */
  /* margin: 0 calc(var(--page-margin) + var(--header-padding)) 0.625em var(--page-margin); */
  @media (--media-max-medium) {
    /* margin: 0 calc(var(--page-margin-mobile) + var(--header-padding)); */
  }
  animation: fadeIn 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
