@import '../styles/media-queries.css';

.root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @media (--media-max-medium) {
    /* margin: 0 calc(var(--page-margin-mobile) + var(--header-padding)); */
  }
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
