@import '../styles/media-queries.css';
@import '../styles/vars.css';
.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 3.625em;
  color: white;
  text-align: justify;
  text-transform: none;

  @nest &, & > * {
    background-color: transparent !important;
    border: none !important;
    font-style: normal !important;
  }


  @media (--media-max-small) {
    padding: 0 1.625em;
    width: auto;
    font-size: calc(14 / 17 * 1rem)
  }
}

.wrapper:hover {
  background-color: transparent !important;
}

.limitWidth {
  @media (--media-min-small) {
    width: 90%;
  }
}

.iconGrid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.325em;
  z-index: 200;
  color: white;
}

.icon {
  padding: 0.5em 1em;
  border: none;

}

.icon:hover {
  color: var(--color-accent);
  transition: 0.2s ease-in-out;
}
