@import '../styles/media-queries.css';
@import '../styles/vars.css';

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.open {
  display: block;
}

.closed {
  display: none;
}

.inner {
  border-bottom: 2px solid black;
}

.readMore {
  font-family: inherit;
  background-color: inherit;
  color: var(--color-black);
  padding: 0.125rem 0.325rem;
  border: none;
  margin: auto 0;
  text-decoration: none;
}
@media (hover: hover) {
  .readMore:hover {
    cursor: pointer;
    outline: 2px solid black;
    background-color: var(--color-accent);
  }
}
.titleWrapper {
  text-transform: uppercase;
  padding: 0 0.325rem;
  display: flex;
  justify-content: space-between;
}

.descriptionWrapper {
  padding: 0 0.325rem;
  background-color: var(--color-white);
}



.itemWrapper {
  border: 2px solid black;
}


@keyframes slideIn {
  from {transform: translateY(10vh)}
  to {transform: translateY(0px)}
}

