@import '../styles/media-queries.css';

.title {
  margin: 0.325em 0.325rem;
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.item {
  margin: 0 0.324rem;
  padding: 0.325rem 0;
}

.itemWrapper {
  display: inline-block;
  margin: 0.325rem 0;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 5px 60px -5px rgba(0,0,0,0.22);
  animation: mymove 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes mymove {
  from {transform: translateY(100px)}
  to {transform: translateY(0px)}
}
