@import '../styles/media-queries.css';
@import '../styles/vars.css';

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}


.open {
  display: block;
}

.closed {
  display: none;
}

.inner {
  border-bottom: 2px solid black;
}

.readMore {
  font-family: inherit;
  background-color: inherit;
  color: var(--color-black);
  padding: 0.125rem 0.325rem;
  border: none;
  margin: auto 0;
  text-decoration: none;
}
@media (hover: hover) {
  .readMore:hover {
    cursor: pointer;
    outline: 2px solid black;
    background-color: var(--color-accent);
  }
}
.titleWrapper {
  padding: 0 0.325rem;
  display: flex;
  justify-content: space-between;
}

.descriptionWrapper {
  padding: 0 0.325rem;
  background-color: var(--color-white);
}



.itemWrapper {
  /* padding: 0.325rem; */
  /* border-radius: 5px;
  box-shadow: 0px 0rem 1rem 0px rgba(0,0,0,0.15); */
  border: 2px solid black;
  animation: mymove 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .titleWrapper:hover {
  background-color: var(--color-accent);
} */


@keyframes mymove {
  from {transform: translateY(100px)}
  to {transform: translateY(0px)}
}

