@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  position: fixed;
  z-index: 100;
  width: 100%;
  color:  var(--color-black);
  background-color: var(--color-white);
  border: 2px solid black;
  /* background-color: var(--color-black);
  color:  var(--color-white); */
}

.wrapper {
  box-sizing: border-box;
  margin: 0 var(--page-margin);
  display: flex;
  justify-content: center;


  @media (--media-max-medium) {

  }
}

.logo {
  align-self: flex-start;
  margin: auto;
  width: 2rem;
  margin-right: 0.625rem;
}

.branding {
  font-size: inherit;
  text-transform: uppercase;
  flex: 1;
  margin: auto;
  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        text-decoration: underline;
      }
    }
  }
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: calc(14 / 17 / 2 * 1rem);
  outline: none;
  color:  var(--color-white);
  background-color: var(--color-white);
  transition: 0.25s;

  & svg {
    display: block;
  }

  @media (--media-min-small) {
    display: none;
  }
}

.nav {
  display: none;
  text-transform: uppercase;


  @nest & ul {
    /* background-color: var(--color-black); */
    margin: 0;
    padding: 0;
  }

  @nest & ul li a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  @media (hover: hover) {
    @nest & ul li a:hover {
      text-decoration: underline;
    }
  }

  @media (--media-max-small) {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 2rem;

    @nest & ul {
      padding: 1rem 0;
    }

    @nest & ul li a {
      padding: 0.5rem 1.5rem;
    }
  }

  @media (--media-min-small) {
    display: block;

    @nest & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
    }

    @nest & ul li a {
      padding: 0.5rem;
    }
  }
}

.showNav {
  display: block;
}
