@import '../styles/media-queries.css';
.itemWrapper {
  /* border-radius: 5px;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 0rem 1rem 0px rgba(0,0,0,0.10); */
  border: 2px solid black;
  /* animation: mymove 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

@keyframes mymove {
  from {transform: translateY(100px)}
  to {transform: translateY(0px)}
}


.grid {
  display: grid;
  grid-gap: 0.325em;
  margin: 0.625em auto;
  grid-template-columns: repeat(3, 1fr);

  @media (--media-max-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--media-max-small) {
    grid-template-columns: repeat(1, 1fr);
  }
}


.categoryWrapper {
  display: flex;
  justify-content: flex-start;
}
