@import '../styles/media-queries.css';

.grid {
  display: grid;
  grid-gap: 0.325em;
  margin: 0.625em auto;
  grid-template-columns: repeat(3, 1fr);

  @media (--media-max-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--media-max-small) {
    grid-template-columns: repeat(1, 1fr);
  }
}


.categoryWrapper {
  display: flex;
  justify-content: flex-start;
}
