@import '../styles/media-queries.css';
@import '../styles/vars.css';

.content {
  padding-top: calc(2.925rem + var(--page-margin));
  margin: 0 var(--page-margin);
  min-height: calc(100% - 73px - 152px);
  @media (--media-min-small) {
    min-height: calc(100% - 90px - 169px);
  }
}

.footer {
  margin: var(--page-margin);
}

.footerWrapper {
  border: 2px solid var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footerLogo {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: 500;
  padding-bottom: 1rem;
}

.socialWrapper {
  display: flex;
}

.socialLink {
  display: block;
  padding-bottom: 1rem;
  color: var(--color-black);
  @nest &:not(:last-child) {
    margin-right: 1rem;
  }
  @nest &:hover {
    transform: scale(1.02);
  }
}

.siteInfo {
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  /* padding-bottom: 1rem; */
  @nest & a {
    color: inherit;
  }

  @nest & span {
    font-size: 0.8rem;
  }
}

.footerNav {
  display: flex;
  margin-bottom: 0.5em;
}

.footerNavLink {
  border: 2px solid var(--color-black);
  font-size: calc(var(--font-small-size) - 1px);
  text-align: center;
  padding: 0.5rem 0.4rem;
  color: var(--color-black);
  font-weight: 500;
  @nest &:not(:last-child) {
    border-right: 0;
  }

  @nest &:hover {
    background-color: var(--color-accent);
  }
}

.footerTag {
  padding-bottom: 1em;
  
}


@media (--media-min-medium) {
  .socialLink {
    padding-bottom: 1rem;
    @nest & svg {
      width: 2rem !important;
      height: 2rem !important;
    }
  }
  .siteInfo {
    /* padding-bottom: 1rem; */
  }
  .footerLogo { 
    padding-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .footerNavLink {
    padding: 0.5rem 1rem;
  }

  .footerWrapper {
    padding: 1rem;
  }
}


.scrollTop {
  position: fixed;
  right: 0.8em;
  bottom: 0.8em;

  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  cursor: pointer;

  @nest &:hover {
    cursor: pointer;
    background-color: var(--color-accent);
  }
}

.scrollTopIcon {
  padding: 0.5em;
}