@import '../styles/media-queries.css';
@import '../styles/vars.css';

.content {
  padding-top: 2.925rem;
  margin: 0 var(--page-margin);
  min-height: calc(100% - 73px - 152px);
  @media (--media-min-small) {
    min-height: calc(100% - 90px - 169px);
  }
}

.footer {
  margin: var(--page-margin);
}

.footerWrapper {
  border: 2px solid var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footerLogo {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: 500;
  padding-bottom: 1rem;
}

.socialWrapper {
  display: flex;
}

.socialLink {
  display: block;
  padding-bottom: 1rem;
  color: var(--color-black);
  @nest &:not(:last-child) {
    margin-right: 1rem;
  }
  @nest &:hover {
    transform: scale(1.02);
  }
}

.siteInfo {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: 500;
  padding-bottom: 1rem;
  @nest & a {
    color: inherit;
  }
}

.footerNav {
  display: flex;
}

.footerNavLink {
  border: 2px solid var(--color-black);
  font-size: calc(var(--font-small-size) - 1px);
  text-align: center;
  padding: 0.5rem 0.4rem;
  color: var(--color-black);
  font-weight: 500;
  @nest &:not(:last-child) {
    border-right: 0;
  }

  @nest &:hover {
    background-color: var(--color-accent);
  }
}


@media (--media-min-medium) {
  .socialLink {
    padding-bottom: 2rem;
    @nest & svg {
      width: 2rem !important;
      height: 2rem !important;
    }
  }
  .siteInfo {
    padding-bottom: 2rem;
  }
  .footerLogo { 
    padding-bottom: 2rem;
  }

  .footerNavLink {
    padding: 0.5rem 1rem;
  }

  .footerWrapper {
    padding: 2rem;
  }
}
