.wrapper {
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  box-shadow: 0px 5px 60px -5px rgba(0,0,0,0.22);
  animation: mymove 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes mymove {
  from {transform: translateY(100px)}
  to {transform: translateY(0px)}
}

.root {
  display: block;
  color: inherit;
  text-decoration: none;
}
.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: #eee;

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.title {
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.descriptionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
