@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  margin: 0.325rem 0 0.625rem;
}

.headline {
  text-transform: uppercase;
  font-size: var(--font-large-size);
  line-height: var(--font-small-line-height);
  margin: 0.125rem 0 0.5rem;
  font-weight: 400;

  @nest & a {
    color: inherit;
    text-decoration: none;
  }


  @media (--media-min-small) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }

}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0.625em;
  grid-row-gap: 0.325em;

  @media (--media-min-small) {
    grid-template-columns: 1fr 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.twoColGrid {
  grid-template-columns: 1fr;

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.browseMoreNav {
  composes: small from './typography.module.css';
  margin-top: 1rem;
  text-align: right;

  @nest & a {
    display: inline-block;
    padding: 0.5rem 0;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}
