@import '../styles/media-queries.css';
:root {
  --base-unit: 17;

  /* Font sizes */
  --font-micro-size: calc(8 / var(--base-unit) * 1rem);
  --font-micro-line-height: 1;
  --font-small-size: calc(14 / var(--base-unit) * 1rem);
  --font-small-line-height: calc(18 / 14);
  --font-base-size: calc(var(--base-unit) / 16 * 100%);
  --font-base-line-height: calc(22 / var(--base-unit));
  --font-large-size: calc(20 / var(--base-unit) * 1rem);
  --font-large-line-height: calc(24 / 19);
  --font-extraLarge-size: calc(44 / var(--base-unit) * 1rem);
  --font-extraLarge-line-height: calc(56 / 44);
  --font-huge-size: calc(60 / var(--base-unit) * 1rem);
  --font-huge-line-height: calc(56 / 60);
  --font-title3-size: calc(24 / var(--base-unit) * 1rem);
  --font-title3-size2: calc(20 / var(--base-unit) * 1rem);
  --font-title3-line-height: calc(28 / 24);
  --font-title2-size: calc(32 / var(--base-unit) * 1rem);
  --font-title2-line-height: calc(36 / 32);
  --font-title1-size: calc(44 / var(--base-unit) * 1rem);
  --font-title1-line-height: calc(56 / 44);

}



/*
 * Statically sized elements
 */

.title1 {
  font-size: var(--font-title1-size);
  line-height: var(--font-title1-line-height);
}

.title2 {
  font-size: var(--font-title2-size);
  line-height: var(--font-title2-line-height);
}

.title3 {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
}

.large {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
}

.base {
  font-size: inherit;
  line-height: inherit;
}

.small {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
}

.micro {
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  text-transform: uppercase;
}



/*
 * Responsively sized elements
 */

.limitParagraph {
  max-width: 70%;

  @media(--media-max-medium) {
    max-width: 100%;
  }
}

.paragraph {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 0rem 0 1rem 0;
  min-height: 4px;

  @media (--media-min-small) {
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
    /* max-width: 100%; */
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
    /* max-width: 100%; */
  }
}

.border {
  border: 2px solid black;
  padding-left: 0.425em;
}

.blockQuote {
  background: #eee;
}

.uppercase {
  text-transform: uppercase;
}

.responsiveText1 {
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 1rem 0 0.5rem;
  letter-spacing: 1.1px;
  @media (--media-min-small) {
    font-size: var(--font-extraLarge-size);
    line-height: var(--font-extraLarge-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-huge-size);
    line-height: var(--font-huge-line-height);
  }
}

.responsiveTitle1 {
  font-weight: 400;
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  margin: 0.325rem 0;
  letter-spacing: 1.1px;
  @media (--media-min-small) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
  }
}

.responsiveTitle2 {
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 0.325rem 0;
  letter-spacing: 1.1px;
  @media (--media-min-small) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title2-size);
    line-height: var(--font-title2-line-height);
  }
}

.responsiveTitle3 {
  font-weight: 400;
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  margin: 0.325rem 0;
  letter-spacing: 1.1px;
  @media (--media-min-small) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-title3-size);
    line-height: var(--font-title3-line-height);
  }
}

.responsiveTitle4 {
  font-weight: 400;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  margin: 0.325rem 0;
  letter-spacing: 1.1px;
  @media (--media-min-small) {
    font-size: var(--font-base-size);
    line-height: var(--font-base-line-height);
  }

  @media (--media-min-medium) {
    font-size: var(--font-large-size);
    line-height: var(--font-large-line-height);
  }
}

.responsiveTitle5 {
  font-weight: 400;
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  margin: 0.225rem 0;
  letter-spacing: 1.1px;

  @media (--media-min-small) {
    font-size: calc(var(--font-base-size) - 4px);
    line-height: var(--font-base-line-height);
  }

  @media (--media-min-small) {
    font-size: calc(var(--font-base-size) - 4px);
    line-height: var(--font-base-line-height);
  }

}
