.Head {
  border: 1px solid red;
  animation: fadeInRotate 1s forwards;
  transform-origin: center center;
}

.LeftLineOne,
.LeftLineTwo,
.LeftLineThree,
.RightLineOne,
.RightLineTwo,
.RightLineThree {
  /* opacity: 0; */
  /* animation: Eyes 0.5s forwards 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); */
}

.Line {
  fill: none;
  stroke: #000000;
  stroke-width: 11.3386;
  stroke-miterlimit: 10;
  /* stroke-dasharray: 100;
  stroke-dashoffset: 100; */

  /* animation: dash 1s ease-in-out 2s forwards; */
}


.LeftLineOne {
  stroke-dasharray: 100;
  animation: fadeIn 2.3s forwards 0s,
   dash2 5s linear 4s reverse;
}

.LeftLineTwo {
  stroke-dasharray: 83;
  animation: fadeIn 2.3s forwards 0s, 
  dash2 5s linear 4s forwards;
}

.LeftLineThree {
  stroke-dasharray: 100;
  animation: fadeIn 2.3s forwards 0s, 
  dash2 5s linear 4s reverse;
}

.RightLineOne {
  stroke-dasharray: 100;
  animation: fadeIn 2.3s forwards 0s, 
  dash2 5s linear 4s reverse;
}

.RightLineTwo {
  stroke-dasharray: 83;
  animation: fadeIn 2.3s forwards 0s, 
  dash2 5s linear 4s reverse;
}

.RightLineThree {
  stroke-dasharray: 100;
  animation: fadeIn 2.3s forwards 0s, 
  dash2 5s linear 4s reverse;
}

.EyeLeft, .EyeRight {
  position: relative;
  animation: eye1 0.4s forwards 2.1s,
              eye2 0.2s forwards 2.5s,
              eye3 0.2s forwards 3.3s;
}
/*  */

@keyframes fadeIn {
 0% {
   opacity: 0;
 }
 60% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}

@keyframes dash2 {
  to {
    stroke-dashoffset: 1000;
  }
}


@keyframes eye1 {
  0%{ 
    transform: translate(0, 0px);
  }
  
  100%{ 
    transform: translate(0, 7px);
  }
}

@keyframes eye2 {
  0%{ 
    transform: translate(0, 7px);
  }
  
  100%{ 
    transform: translate(7px, 0px);
  }
}

@keyframes eye3 {
  0%{ 
    transform: translate(7px, 0px);
  }
  
  100%{ 
    transform: translate(0px, 0px);
  }
}



@keyframes Eyes {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRotate {
  0% {
    opacity: 0;
  }

  30% {
    transform: rotate(0deg);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
  }
}


@keyframes dash {
  0%{
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
