@import '../../styles/media-queries.css';
@import '../../styles/vars.css';

.Hero {
  border: 2px solid var(--color-black);
  margin-bottom: 0.35em;
  background-color: #b2e0dd;
}


.TextWrapper {
  font-size: var(--font-title3-size);
  line-height: var(--font-title3-line-height);
  text-align: center;
}

.Head {
  height: 90%;
  animation: moveHead 0.6s ease forwards;
  transform-origin: center center;
}


@keyframes moveHead {
  0% {
    transform: scale(0);
  }
  /* 20% {
    transform: rotate(5deg);
  } */

  /* 40% {
    transform: rotate(0deg);
  }  */
  /* 60% {
    transform: rotate(-5deg);
  } */
  80% {
    transform: scale(1);
  }
}